#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
    configure)
	upstream_dir=$1

	ln -fns "${upstream_dir}/DB_Koulu_1_lin64" \
		/opt/DB-Koulu1
        ln -fns "${upstream_dir}/DB_Koulu_1_lin64/DB Koulu 1_Data/Resources/UnityPlayer.png" \
                /usr/share/icons/dragonbox_koulu1.png
        cat <<'EOF' > /usr/share/applications/db_koulu1.desktop
[Desktop Entry]
Name=DragonBox Koulu 1
Exec=/opt/DB-Koulu1/DB\ Koulu\ 1
Type=Application
Terminal=false
Icon=dragonbox_koulu1
StartupNotify=true
Categories=Education;
EOF
	;;
    unconfigure)
	rm -f /opt/DB-Koulu1 \
              /usr/share/applications/db_koulu1.desktop \
              /usr/share/icons/dragonbox_koulu1.png
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

        unzip -q -d "${upstream_dir}" "${upstream_pack}"
        chmod +x "${upstream_dir}/DB_Koulu_1_lin64/DB Koulu 1"
	;;
    *)
	;;
esac
