#!/bin/sh

set -eu

command=$1
shift

links='
  /usr/share/applications/filius.desktop
  /usr/share/doc/filius
  /usr/share/filius
  /usr/share/icons/hicolor/32x32/apps/filius.png
  /usr/share/icons/hicolor/64x64/apps/filius.png
  /usr/share/icons/hicolor/96x96/apps/filius.png
  /usr/share/mime/packages/application-filius-project.xml
'

case "${command}" in
  configure)
    upstream_dir=$1
    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}${f}" "$f"
    done
    ln -fns -T "${upstream_dir}/usr/share/filius/filius.sh" /usr/bin/filius
    ;;
  unconfigure)
    rm -f $links
    rm -f /usr/bin/filius
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;
  *)
    ;;
esac
