#!/bin/sh

set -eu

command=$1
shift

links='
  /etc/udev/rules.d/vex_robotics.rules
  /etc/opt/chrome/native-messaging-hosts/com.robotmesh.robotmeshconnect.json
  /opt/RobotMeshConnect
  /usr/lib/mozilla/native-messaging-hosts/com.robotmesh.robotmeshconnect.json
  /usr/share/lintian/robotmeshconnect
'

case "$command" in
  configure)
    upstream_dir=$1

    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}/${f}" "$f"
    done
    ;;

  unconfigure)
    rm -f $links
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;

  *)
    ;;
esac
