#!/bin/sh

set -eu

command=$1
shift

links='
/usr/bin/naksu2
/usr/lib/naksu2
/usr/share/pixmaps/naksu2.png
/usr/share/applications/naksu2.desktop'

case "${command}" in
    configure)
	upstream_dir=$1
        for f in $links; do
          mkdir -p "$(dirname "$f")"
          ln -fns -T "${upstream_dir}/${f}" "$f"
        done
	;;
    unconfigure)
      	rm -f $links
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

        dpkg -x "${upstream_pack}" "${upstream_dir}"
        find "${upstream_dir}" -type f -exec chmod ugo-s {} \;
	;;
    *)
	;;
esac
