#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}/ktp-controller" /opt/ktp-controller

    cat <<'EOF' > /etc/sudoers.d/ktp-controller
%puavo-ers      ALL = (:puavo) NOPASSWD: /opt/ktp-controller/bin/ktp-controller-agent
%puavo-ers      ALL =          NOPASSWD: /opt/ktp-controller/bin/ktp-controller-networking
EOF
    ;;
  unconfigure)
    if pgrep -f /opt/ktp-controller/ktp-controller > /dev/null 2>&1; then
      echo 'ktp-controller is running, will not unconfigure' >&2
      # 4 == application is busy
      exit 4
    fi

    rm -f /etc/sudoers.d/ktp-controller /opt/ktp-controller
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    unzip -q -d "$upstream_dir" "$upstream_pack"
    ;;
  *)
    ;;
esac
