#!/bin/sh

set -eu

command=$1
shift

write_supervisord_conf() {
  local path
  path=$1
  cat <<'EOF' > "$path"
[supervisord]
logfile = logs/supervisord.log
pidfile = supervisord.pid
childlogdir = logs
nodaemon=True

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[unix_http_server]
file=ktp_controller_supervisor_sock
chmod=0700

[supervisorctl]
serverurl=unix://ktp_controller_supervisor_sock

[program:migratedb]
command='%(here)s/ktp-controller' alembic -c '%(here)s/alembic.ini' upgrade head
autostart=true
autorestart=false
stopasgroup=true
killasgroup=true
startsecs=0
startretries=0
exitcodes=0

[program:redis]
command=redis-server
autostart=false
autorestart=true
stopasgroup=true
killasgroup=true
startsecs=5
startretries=0

[program:api]
command='%(here)s/ktp-controller' api
autostart=false
autorestart=true
stopasgroup=true
killasgroup=true
startsecs=5
startretries=0

[program:agent]
command=sudo -g puavo -n '%(here)s/ktp-controller' agent
autostart=false
autorestart=true
stopasgroup=true
killasgroup=true
startsecs=5
startretries=0

[program:naksu2]
command=/usr/bin/puavo-ers-naksu2
autostart=false
autorestart=true
stopasgroup=true
killasgroup=true
startsecs=30

[program:abitti2server]
command=/usr/bin/puavo-ers-abitti2server
autostart=false
autorestart=true
stopasgroup=true
killasgroup=true
startsecs=30

[eventlistener:supervisor_chainer]
command='%(here)s/ktp-controller' supervisor_chainer '%(here)s/puavo_os-prod-run.conf' migratedb WAIT abitti2server naksu2 redis api agent
events=PROCESS_STATE_RUNNING,PROCESS_STATE_EXITED,PROCESS_STATE_STOPPED,PROCESS_STATE_FATAL
EOF
}

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}/ktp-controller" /opt/ktp-controller
    cat <<'EOF' > /etc/sudoers.d/puavo-ers-ktp-controller
%puavo-ers      ALL = (:puavo) NOPASSWD: /opt/ktp-controller/ktp-controller
EOF
    ;;
  unconfigure)
    rm -f /etc/sudoers.d/puavo-ers-ktp-controller /opt/ktp-controller
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    unzip -q -d "$upstream_dir" "$upstream_pack"
    mv "${upstream_dir}/ktp-controller/puavo_os-prod-run.conf" \
       "${upstream_dir}/ktp-controller/puavo_os-prod-run.conf.orig"
    write_supervisord_conf \
      "${upstream_dir}/ktp-controller/puavo_os-prod-run.conf"
    ;;
  *)
    ;;
esac
