#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}" /usr/share/fonts/truetype/puavo-pkg-poppins
    ;;
  unconfigure)
    rm -f /usr/share/fonts/truetype/puavo-pkg-poppins
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    unzip -q -d "$upstream_dir" "$upstream_pack"
    ;;
  *)
    ;;
esac
