#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1
    for ppd in "${upstream_dir}"/*.ppd; do
      ln -fns "${ppd}" "/usr/share/cups/model/${ppd##*/}"
    done
    install -o root -g root -m 755 "${upstream_dir}/KMbeuEmpPS.pl" \
                                   /usr/lib/cups/filter/KMbeuEmpPS.pl
    install -o root -g root -m 755 "${upstream_dir}/KMbeuEnc.pm" \
                                   /usr/lib/cups/filter/KMbeuEnc.pm
    ;;
  unconfigure)
    upstream_dir=$1
    for ppd in "${upstream_dir}"/*.ppd; do
      rm -f "/usr/share/cups/model/${ppd##*/}"
    done
    rm -f /usr/lib/cups/filter/KMbeuEmpPS.pl /usr/lib/cups/filter/KMbeuEnc.pm
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    tar -zx --no-same-owner --strip-components=1 -C "$upstream_dir" \
      -f "$upstream_pack"
    find "$upstream_dir" -type f ! '(' -name '*.pl' -or -name '*.pm' ')' \
      -exec chmod 644 \{} \;
    ;;
  *)
    ;;
esac
