#!/bin/sh

set -eu

command=$1
shift

wifiman_links='
  /usr/bin/wifiman-desktop
  /usr/lib/wifiman-desktop/.env
  /usr/lib/wifiman-desktop/wg
  /usr/lib/wifiman-desktop/wg-quick
  /usr/lib/wifiman-desktop/wifiman-desktopd
  /usr/lib/wifiman-desktop/wifiman-desktop.service
  /usr/lib/wifiman-desktop/wireguard-go
  /usr/share/applications/wifiman-desktop.desktop
  /usr/share/icons/hicolor/128x128/apps/wifiman-desktop.png
  /usr/share/icons/hicolor/256x256@2/apps/wifiman-desktop.png
  /usr/share/icons/hicolor/32x32/apps/wifiman-desktop.png'

case "${command}" in
  configure)
    upstream_dir=$1
    for f in $wifiman_links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}/${f}" "$f"
    done
    ### From postinst
    cp -f /usr/lib/wifiman-desktop/wifiman-desktop.service /etc/systemd/system/
    if ! [ -L "/etc/systemd/system/multi-user.target.wants/wifiman-desktop.service" ]; then
      ln -s /etc/systemd/system/wifiman-desktop.service /etc/systemd/system/multi-user.target.wants/
    fi
    ;;
  unconfigure)
    rm -f $wifiman_links
    rm -f /etc/systemd/system/multi-user.target.wants/wifiman-desktop.service /etc/systemd/system/wifiman-desktop.service
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "${upstream_pack}" "${upstream_dir}"
    ;;
  *)
    ;;
esac
