#!/bin/sh

set -eu

command=$1
shift

links='
  /etc/udev/rules.d/70-enchanting-lego-mindstorms-nxt.rules
  /usr/bin/enchanting
  /usr/bin/enchanting-frontend
  /usr/share/applications/enchanting.desktop
  /usr/share/enchanting
  /usr/share/mime/packages/enchanting.xml
'

case "$command" in
  configure)
    upstream_dir=$1

    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}/${f}" "$f"
    done

    mkdir -p /usr/share/pixmaps
    ln -fns "${upstream_dir}/usr/share/icons/hicolor/48x48/apps/enchanting.png" \
	/usr/share/pixmaps/enchanting.png

    echo enchanting >> /var/lib/puavo-pkg/.update_mime_database
    ;;

  unconfigure)
    rm -f /etc/udev/rules.d/70-enchanting-lego-mindstorms-nxt.rules \
	  /usr/bin/enchanting \
	  /usr/bin/enchanting-frontend \
	  /usr/share/applications/enchanting.desktop \
	  /usr/share/enchanting \
	  /usr/share/icons/hicolor/48x48/apps/enchanting.png \
	  /usr/share/mime/packages/enchanting.xml \
	  /usr/share/pixmaps/enchanting.png
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;

  *)
    ;;
esac
