#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "$upstream_dir" /opt/lynx-whiteboard
    ln -fns "${upstream_dir}/lynx-whiteboard.png" /usr/share/icons/lynx-whiteboard.png
    cat <<EOF > /usr/local/share/applications/lynx-whiteboard.desktop
[Desktop Entry]
Type=Application
Name=LYNX
Exec=/opt/lynx-whiteboard/lynx-whiteboard.AppImage
Icon=lynx-whiteboard
Comment=LYNX Whiteboard
Terminal=false
Categories=Office;Education;Presentation;FlowChart;Viewer
EOF
    ;;
  unconfigure)
    rm -f /opt/lynx-whiteboard                                  \
          /usr/local/share/applications/lynx-whiteboard.desktop \
          /usr/share/icons/lynx-whiteboard.png
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    install -m 755 "$upstream_pack" "${upstream_dir}/lynx-whiteboard.AppImage"
    install -m 644 lynx-whiteboard.png "${upstream_dir}/lynx-whiteboard.png"
    ;;
  *)
    ;;
esac
