#!/bin/sh

set -eu

command=$1
shift

links='
  /etc/icaclient
  /etc/init.d/ctxcwalogd
  /lib/systemd/system/ctxcwalogd.service
  /opt/Citrix
  /usr/share/applications/configmgr.desktop
  /usr/share/applications/new_store.desktop
  /usr/share/applications/selfservice.desktop
  /usr/share/applications/conncenter.desktop
  /usr/share/applications/receiver.desktop
  /usr/share/applications/wfica.desktop
  /usr/share/doc/icaclient
  /usr/share/menu/icaclient
'

case "${command}" in
  configure)
    upstream_dir=$1
    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}${f}" "$f"
    done

############# temporary temporary temporary
    export DEBIAN_FRONTEND=noninteractive
    dpkg -i ${upstream_dir}/icaclient.deb
    unzip -o /state/external_files/icacert.zip -d /opt/Citrix/ICAClient/keystore/cacerts/ || true
    ICASERVER=`cat /opt/Citrix/ICAClient/keystore/cacerts/icaserver`
    /opt/Citrix/ICAClient/util/ctx_rehash

    cat <<EOF > /usr/share/applications/ica-word.desktop
#!/bin/sh
[Desktop Entry]
Type=Application
Name=icaclient
Exec=sh -c '/opt/Citrix/ICAClient/util/storebrowse -a ${ICASERVER} && /opt/Citrix/ICAClient/selfservice'
EOF

    mv /opt/Citrix/ICAClient/config/wfclient.template /opt/Citrix/ICAClient/config/wfclient.template.orig
    awk '/AllowAudioInput=True/ { print; print "DriveEnabledP=True"; print "DriveWriteAccessP=0"; print "DriveReadAccessP=0"; print "DrivePathP=$HOME/"; next}1' \
      /opt/Citrix/ICAClient/config/wfclient.template.orig > /opt/Citrix/ICAClient/config/wfclient.template

#############



    ;;
  unconfigure)
    rm -f $links
    rm -f /usr/share/applications/ica-word.desktop #temporary
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    cp "$upstream_pack" "$upstream_dir"/icaclient.deb
    ;;
  download)
    dlurl="https://$(curl https://www.citrix.com/downloads/workspace-app/linux/workspace-app-for-linux-latest.html |grep icaclient_23.5.0.58_amd64.deb | awk -F'rel=\"//' '{print $2}' | awk -F'\"' '{print $1}')"
    wget \
            --no-use-server-timestamps \
            --no-cookies \
            --output-document "$1" \
            --progress=dot:mega \
            "$dlurl" || {
            [ $? -eq 4 ] && exit 2 ## Network failure.
            exit 1
        }
    ;;
  *)
    ;;
esac
