#!/bin/sh

set -eu

command=$1
shift

links='
  /etc/icaclient
  /opt/Citrix
  /usr/share/applications/configmgr.desktop
  /usr/share/applications/conncenter.desktop
  /usr/share/applications/new_store.desktop
  /usr/share/applications/receiver.desktop
  /usr/share/applications/receiver_fido2.desktop
  /usr/share/applications/selfservice.desktop
  /usr/share/applications/wfica.desktop
  /usr/share/doc/icaclient
  /usr/share/menu/icaclient
'

add_locale_links() {
  local lang

  lang=$(puavo-conf puavo.l10n.locale | cut -c 1-2)

  if [ ! -d "/opt/Citrix/ICAClient/nls/${lang}/" ]; then
    lang=en
  fi

  ln -fns "../nls/${lang}/appsrv.template" \
          /opt/Citrix/ICAClient/config/appsrv.template
  ln -fns "../nls/${lang}/module.ini" \
          /opt/Citrix/ICAClient/config/module.ini
  ln -fns "../nls/${lang}/wfclient.template" \
          /opt/Citrix/ICAClient/config/wfclient.template
  ln -fns "nls/${lang}.UTF-8/eula.txt" \
          /opt/Citrix/ICAClient/eula.txt
  ln -fns "../nls/${lang}/index.htm" \
          /opt/Citrix/ICAClient/help/index.htm

  chown -h puavo-pkg:                                     \
           /opt/Citrix/ICAClient/config/appsrv.template   \
           /opt/Citrix/ICAClient/config/module.ini        \
           /opt/Citrix/ICAClient/config/wfclient.template \
           /opt/Citrix/ICAClient/eula.txt                 \
           /opt/Citrix/ICAClient/help/index.htm
}

add_magiccloud_certificates() {
  cat <<'EOF' > /opt/Citrix/ICAClient/keystore/cacerts/magiccloud-fi_intermediate.pem
-----BEGIN CERTIFICATE-----
MIIGEzCCA/ugAwIBAgIQfVtRJrR2uhHbdBYLvFMNpzANBgkqhkiG9w0BAQwFADCB
iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTgx
MTAyMDAwMDAwWhcNMzAxMjMxMjM1OTU5WjCBjzELMAkGA1UEBhMCR0IxGzAZBgNV
BAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UEBxMHU2FsZm9yZDEYMBYGA1UE
ChMPU2VjdGlnbyBMaW1pdGVkMTcwNQYDVQQDEy5TZWN0aWdvIFJTQSBEb21haW4g
VmFsaWRhdGlvbiBTZWN1cmUgU2VydmVyIENBMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA1nMz1tc8INAA0hdFuNY+B6I/x0HuMjDJsGz99J/LEpgPLT+N
TQEMgg8Xf2Iu6bhIefsWg06t1zIlk7cHv7lQP6lMw0Aq6Tn/2YHKHxYyQdqAJrkj
eocgHuP/IJo8lURvh3UGkEC0MpMWCRAIIz7S3YcPb11RFGoKacVPAXJpz9OTTG0E
oKMbgn6xmrntxZ7FN3ifmgg0+1YuWMQJDgZkW7w33PGfKGioVrCSo1yfu4iYCBsk
Haswha6vsC6eep3BwEIc4gLw6uBK0u+QDrTBQBbwb4VCSmT3pDCg/r8uoydajotY
uK3DGReEY+1vVv2Dy2A0xHS+5p3b4eTlygxfFQIDAQABo4IBbjCCAWowHwYDVR0j
BBgwFoAUU3m/WqorSs9UgOHYm8Cd8rIDZsswHQYDVR0OBBYEFI2MXsRUrYrhd+mb
+ZsF4bgBjWHhMA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8ECDAGAQH/AgEAMB0G
A1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAbBgNVHSAEFDASMAYGBFUdIAAw
CAYGZ4EMAQIBMFAGA1UdHwRJMEcwRaBDoEGGP2h0dHA6Ly9jcmwudXNlcnRydXN0
LmNvbS9VU0VSVHJ1c3RSU0FDZXJ0aWZpY2F0aW9uQXV0aG9yaXR5LmNybDB2Bggr
BgEFBQcBAQRqMGgwPwYIKwYBBQUHMAKGM2h0dHA6Ly9jcnQudXNlcnRydXN0LmNv
bS9VU0VSVHJ1c3RSU0FBZGRUcnVzdENBLmNydDAlBggrBgEFBQcwAYYZaHR0cDov
L29jc3AudXNlcnRydXN0LmNvbTANBgkqhkiG9w0BAQwFAAOCAgEAMr9hvQ5Iw0/H
ukdN+Jx4GQHcEx2Ab/zDcLRSmjEzmldS+zGea6TvVKqJjUAXaPgREHzSyrHxVYbH
7rM2kYb2OVG/Rr8PoLq0935JxCo2F57kaDl6r5ROVm+yezu/Coa9zcV3HAO4OLGi
H19+24rcRki2aArPsrW04jTkZ6k4Zgle0rj8nSg6F0AnwnJOKf0hPHzPE/uWLMUx
RP0T7dWbqWlod3zu4f+k+TY4CFM5ooQ0nBnzvg6s1SQ36yOoeNDT5++SR2RiOSLv
xvcRviKFxmZEJCaOEDKNyJOuB56DPi/Z+fVGjmO+wea03KbNIaiGCpXZLoUmGv38
sbZXQm2V0TP2ORQGgkE49Y9Y3IBbpNV9lXj9p5v//cWoaasm56ekBYdbqbe4oyAL
l6lFhd2zi+WJN44pDfwGF/Y4QA5C5BIG+3vzxhFoYt/jmPQT2BVPi7Fp2RBgvGQq
6jG35LWjOhSbJuMLe/0CjraZwTiXWTb2qHSihrZe68Zk6s+go/lunrotEbaGmAhY
LcmsJWTyXnW0OMGuf1pGg+pRyrbxmRE1a6Vqe8YAsOf4vmSyrcjC8azjUeqkk+B5
yOGBQMkKW+ESPMFgKuOXwIlCypTPRpgSabuY0MLTDXJLR27lk8QyKGOHQ+SwMj4K
00u/I5sUKUErmgQfky3xxzlIPK1aEn8=
-----END CERTIFICATE-----
EOF

  cat <<'EOF' > /opt/Citrix/ICAClient/keystore/cacerts/magiccloud-fi_root.pem
-----BEGIN CERTIFICATE-----
MIIF3jCCA8agAwIBAgIQAf1tMPyjylGoG7xkDjUDLTANBgkqhkiG9w0BAQwFADCB
iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTAw
MjAxMDAwMDAwWhcNMzgwMTE4MjM1OTU5WjCBiDELMAkGA1UEBhMCVVMxEzARBgNV
BAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0plcnNleSBDaXR5MR4wHAYDVQQKExVU
aGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNVBAMTJVVTRVJUcnVzdCBSU0EgQ2Vy
dGlmaWNhdGlvbiBBdXRob3JpdHkwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQCAEmUXNg7D2wiz0KxXDXbtzSfTTK1Qg2HiqiBNCS1kCdzOiZ/MPans9s/B
3PHTsdZ7NygRK0faOca8Ohm0X6a9fZ2jY0K2dvKpOyuR+OJv0OwWIJAJPuLodMkY
tJHUYmTbf6MG8YgYapAiPLz+E/CHFHv25B+O1ORRxhFnRghRy4YUVD+8M/5+bJz/
Fp0YvVGONaanZshyZ9shZrHUm3gDwFA66Mzw3LyeTP6vBZY1H1dat//O+T23LLb2
VN3I5xI6Ta5MirdcmrS3ID3KfyI0rn47aGYBROcBTkZTmzNg95S+UzeQc0PzMsNT
79uq/nROacdrjGCT3sTHDN/hMq7MkztReJVni+49Vv4M0GkPGw/zJSZrM233bkf6
c0Plfg6lZrEpfDKEY1WJxA3Bk1QwGROs0303p+tdOmw1XNtB1xLaqUkL39iAigmT
Yo61Zs8liM2EuLE/pDkP2QKe6xJMlXzzawWpXhaDzLhn4ugTncxbgtNMs+1b/97l
c6wjOy0AvzVVdAlJ2ElYGn+SNuZRkg7zJn0cTRe8yexDJtC/QV9AqURE9JnnV4ee
UB9XVKg+/XRjL7FQZQnmWEIuQxpMtPAlR1n6BB6T1CZGSlCBst6+eLf8ZxXhyVeE
Hg9j1uliutZfVS7qXMYoCAQlObgOK6nyTJccBz8NUvXt7y+CDwIDAQABo0IwQDAd
BgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rIDZsswDgYDVR0PAQH/BAQDAgEGMA8G
A1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQEMBQADggIBAFzUfA3P9wF9QZllDHPF
Up/L+M+ZBn8b2kMVn54CVVeWFPFSPCeHlCjtHzoBN6J2/FNQwISbxmtOuowhT6KO
VWKR82kV2LyI48SqC/3vqOlLVSoGIG1VeCkZ7l8wXEskEVX/JJpuXior7gtNn3/3
ATiUFJVDBwn7YKnuHKsSjKCaXqeYalltiz8I+8jRRa8YFWSQEg9zKC7F4iRO/Fjs
8PRF/iKz6y+O0tlFYQXBl2+odnKPi4w2r78NBc5xjeambx9spnFixdjQg3IM8WcR
iQycE0xyNN+81XHfqnHd4blsjDwSXWXavVcStkNr/+XeTWYRUc+ZruwXtuhxkYze
Sf7dNXGiFSeUHM9h4ya7b6NnJSFd5t0dCy5oGzuCr+yDZ4XUmFF0sbmZgIn/f3gZ
XHlKYC6SQK5MNyosycdiyA5d9zZbyuAlJQG03RoHnHcAP9Dc1ew91Pq7P8yF1m9/
qS3fuQL39ZeatTXaw2ewh0qpKJ4jjv9cJ2vhsE/zB+4ALtRZh8tSQZXq9EfX7mRB
VXyNWQKV3WKdwrnuWih0hKWbt5DHDAff9Yk2dDLWKMGwsAvgnEzDHNb842m1R0aB
L6KCq9NjRHDEjf8tM7qtj3u1cIiuPhnPQCjY/MiQu12ZIvVS5ljFH4gxQ+6IHdfG
jjxDah2nGN59PRbxYvnKkKj9
-----END CERTIFICATE-----
EOF

  chown puavo-pkg: \
    /opt/Citrix/ICAClient/keystore/cacerts/magiccloud-fi_intermediate.pem \
    /opt/Citrix/ICAClient/keystore/cacerts/magiccloud-fi_root.pem

  su puavo-pkg -s /bin/sh -c /opt/Citrix/ICAClient/util/ctx_rehash >/dev/null
}

case "$command" in
  configure)
    upstream_dir=$1
    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}${f}" "$f"
    done

    add_magiccloud_certificates
    add_locale_links

    cat <<EOF > /usr/local/share/applications/ica-excel.desktop
#!/bin/sh
[Desktop Entry]
Type=Application
Name=Microsoft Excel
Description=Citrix Microsoft Excel
Icon=application-msword
Exec=/usr/local/bin/puavo-ica Excel
EOF

    cat <<EOF > /usr/local/share/applications/ica-powerpoint.desktop
#!/bin/sh
[Desktop Entry]
Type=Application
Name=Microsoft Powerpoint
Description=Citrix Microsoft PowerPoint
Icon=application-mspowerpoint
Exec=/usr/local/bin/puavo-ica PowerPoint
EOF

    cat <<EOF > /usr/local/share/applications/ica-word.desktop
#!/bin/sh
[Desktop Entry]
Type=Application
Name=Microsoft Word
Description=Citrix Microsoft Word
Icon=application-msword
Exec=/usr/local/bin/puavo-ica Word
EOF

    cat <<'EOF' > /usr/local/bin/puavo-ica
#!/bin/sh

set -eu

app=${1:-}

server=$(puavo-conf puavo.pkg.icaclient.server)
if [ -z "$server" ]; then
  echo 'puavo-conf variable puavo.pkg.icaclient.server not set' >&2
  exit 1
fi

service=$(puavo-conf puavo.pkg.icaclient.service)
if [ -z "$service" ]; then
  echo 'puavo-conf variable puavo.pkg.icaclient.service not set' >&2
  exit 1
fi

get_discovery_url() {
  local awk_script discovery_url storebrowse_output

  # use a variable because of a need to use "'"-character in script
  awk_script=$(cat <<'AWK_EOF'
    $2 == ("'" service "'") {
      split($5, a, /,/)
      sub(/'$/, "", a[2])
      if (a[2] == ("https://" server "/")) {
	sub(/^'/, "", $1)
	sub(/'$/, "", $1)
        print $1
        exit(0)
      }
    }
AWK_EOF
)

  /opt/Citrix/ICAClient/util/storebrowse -l \
    | awk -F "\t" -v server="$server" -v service="$service" "$awk_script"
}

add_store() {
  local store
  store="${server}?${service}"
  /opt/Citrix/ICAClient/util/storebrowse -a "$store" > /dev/null
}

list_available_apps() {
  xml_grep --strict --text_only resource/id \
           ~/.ICAClient/cache/Stores/Apps\ Cache\ *.ctx 2>/dev/null
}

discovery_url=$(get_discovery_url)
if [ -z "$discovery_url" ]; then
  if ! add_store; then
    echo 'add store returned failure' >&2
    exit 1
  fi
fi

discovery_url=$(get_discovery_url)
if [ -z "$discovery_url" ]; then
  echo 'could not determine the discovery url' >&2
  exit 1
fi

# enforce client configuration
cp /opt/Citrix/ICAClient/config/wfclient.template ~/.ICAClient/wfclient.ini

if [ -n "$app" ]; then
  if available_apps=$(list_available_apps); then
    # try first looking for an exact match
    app_id=$(printf %s "$available_apps" | grep -Fix -m 1 "$app") || true

    # then try with a fuzzier match if there was no exact match
    if [ -z "$app_id" ]; then
      app_id=$(printf %s "$available_apps" | grep -Fi -m 1 "$app") || true
    fi

    if [ -n "$app_id" ]; then
      # found an app, start that one
      exec /opt/Citrix/ICAClient/util/storebrowse -L "$app_id" \
           "$discovery_url"
    fi
  fi
fi

# fallback to menu
exec /opt/Citrix/ICAClient/selfservice
EOF
    chmod 755 /usr/local/bin/puavo-ica

    if [ ! -e /opt/Citrix/ICAClient/config/wfclient.template.orig ]; then
      mv /opt/Citrix/ICAClient/config/wfclient.template \
         /opt/Citrix/ICAClient/config/wfclient.template.orig
    fi
    awk '
      /^HDXH264InputEnabled=/ {
        print
        print "DriveEnabledP=True"
        print "DriveWriteAccessP=0"
        print "DriveReadAccessP=0"
        print "DrivePathP=$HOME/"
        next
      }
      { print }
    ' /opt/Citrix/ICAClient/config/wfclient.template.orig \
      > /opt/Citrix/ICAClient/config/wfclient.template
    ;;

  download)
    upstream_pack=$1
    latest_linux_version_url='https://www.citrix.com/downloads/workspace-app/linux/workspace-app-for-linux-latest.html'
    icaclient_download_url=$(
      wget -q -O - "$latest_linux_version_url" \
        | perl -ne '
            m{rel="//(.*?icaclient.*?amd64.deb.*?)"}
              && print("https://$1")
              && exit(0)
          ')
    if [ -z "$icaclient_download_url" ]; then
      echo "could not lookup download url from ${latest_linux_version_url}" >&2
      exit 1
    fi
    wget --no-use-server-timestamps         \
         --no-cookies                       \
         --output-document "$upstream_pack" \
         --progress=dot:mega "$icaclient_download_url" || {
      [ $? -eq 4 ] && exit 2 ## Network failure.
      exit 1
    }
    ;;

  unconfigure)
    rm -f $links                                               \
          /usr/local/bin/puavo-ica                             \
          /usr/local/share/applications/ica-excel.desktop      \
          /usr/local/share/applications/ica-powerpoint.desktop \
          /usr/local/share/applications/ica-word.desktop
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2
    dpkg-deb -x "$upstream_pack" "$upstream_dir"
    ;;

  *)
    ;;
esac
