#!/bin/sh

set -eu

command=$1
shift

links='
  /usr/local/lib/docker/cli-plugins/docker-compose
'

case "${command}" in
    configure)
	upstream_dir=$1
        for f in $links; do
          filename=$(basename "$f")
          mkdir -p "$(dirname "$f")"
          ln -fns -T "${upstream_dir}/${filename}" "$f"
        done
	;;
    unconfigure)
	rm -f $links
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

        mkdir -p "${upstream_dir}"
        install -T -m0755 -p -s "${upstream_pack}" "${upstream_dir}/docker-compose"
	;;
    *)
	;;
esac
