#!/bin/sh

set -eu

command=$1
shift

cleanup_download() {
  if [ -n "${download_tmpdir:-}" ]; then
    rm -rf "$download_tmpdir"
  fi
}

case "$command" in
  configure)
    upstream_dir=$1

    ln -fns "$upstream_dir" /opt/thymiosuite

    cat <<EOF > /usr/share/applications/org.mobsya.ThymioSuite.desktop
[Desktop Entry]
Type=Application
Name=Thymio Suite
GenericName=Thymio Suite
GenericName[fr]=Thymio Suite
GenericName[de]=Thymio Suite
GenericName[it]=Suite Thymio
GenericName[es]=Suite Thymio
GenericName[pt]=Suite Thymio
Exec=/usr/local/bin/thymiosuite
Categories=Education;Science;
Icon=/opt/thymiosuite/app/org.mobsya.ThymioSuite/current/active/export/share/icons/hicolor/256x256/apps/org.mobsya.ThymioSuite.png
X-Flatpak=org.mobsya.ThymioSuite
EOF

    cat <<'EOF' > /etc/udev/rules.d/99-mobsya.rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="0617", ATTRS{idProduct}=="000a", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0617", ATTRS{idProduct}=="000c", MODE="0666"
EOF

    cat <<'EOF' > /usr/local/bin/thymiosuite
#!/bin/sh

exec /opt/thymiosuite/exports/bin/org.mobsya.ThymioSuite "$@"
EOF
    chmod 755 /usr/local/bin/thymiosuite

    mkdir -p /etc/flatpak/installations.d
    cat <<EOF > /etc/flatpak/installations.d/thymiosuite.conf
[Installation "thymiosuite"]
Path=/opt/thymiosuite
DisplayName=thymiosuite
StorageType=harddisk
EOF
    ;;
  download)
    upstream_pack=$1

    trap cleanup_download 0 INT TERM

    download_tmpdir=$(mktemp -d /tmp/thymiosuite.XXXXXX)
    thymiodir="${download_tmpdir}/thymiosuite"
    export HOME="$thymiodir"
    mkdir -p "$thymiodir"
    flatpak --user remote-add flathub \
                   https://flathub.org/repo/flathub.flatpakrepo
    flatpak --assumeyes --noninteractive install flathub org.mobsya.ThymioSuite
    tar --mtime='2000-01-01 00:00:00 +00:00' \
        -C "${download_tmpdir}/thymiosuite/.local/share" -c \
        -f - flatpak | gzip -n > "$upstream_pack"
    ;;
  unconfigure)
    rm -f /etc/flatpak/installations.d/thymiosuite.conf \
          /etc/udev/rules.d/99-mobsya.rules             \
          /opt/thymiosuite                              \
          /usr/local/bin/thymiosuite                    \
          /usr/share/applications/org.mobsya.ThymioSuite.desktop
    rmdir --ignore-fail-on-non-empty /etc/flatpak/installations.d
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    tar -zxf "$upstream_pack" -C "$upstream_dir" --strip-components=1
    ;;
  *)
    ;;
esac
