#!/bin/sh

#Incomplete dummy version

set -eu

command=$1
shift


case "${command}" in
  configure)
    upstream_dir=$1

    ;;
  unconfigure)

    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2


    ;;
  *)
    ;;
esac
