#!/bin/sh

set -eu

command=$1
shift

links='
  /opt/measureAPP
  /usr/share/applications/measureapp.desktop
  /usr/share/doc/measureapp
  /usr/share/icons/hicolor/0x0/apps/measureapp.png
'

case "${command}" in
  configure)
    upstream_dir=$1
    for f in $links; do
      mkdir -p "$(dirname "$f")"
      ln -fns -T "${upstream_dir}/${f}" "$f"
    done
    cat <<'EOF' > /etc/udev/rules.d/99-measureapp-usb.rules
ATTRS{idVendor}=="1915", ATTRS{idProduct}=="520f", MODE="0664", GROUP="plugdev"
ATTRS{idVendor}=="811e", ATTRS{idProduct}=="8846", MODE="0664", GROUP="plugdev"
ATTRS{idVendor}=="4348", ATTRS{idProduct}=="5537", MODE="0664", GROUP="plugdev"
EOF
    ;;
  unconfigure)
    rm -f $links /etc/udev/rules.d/99-measureapp-usb.rules
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;
  *)
    ;;
esac
