#!/bin/sh

set -eu

command=$1
shift


case "${command}" in
    configure)
    upstream_dir=$1

    mkdir -p /usr/lib/rustdesk
    ln -fns "${upstream_dir}/usr/lib/rustdesk" /usr/lib/rustdesk
    ln -fns "${upstream_dir}/usr/lib/rustdesk/rustdesk" /usr/bin/rustdesk
    ln -fns "${upstream_dir}/usr/share/applications/rustdesk.desktop" /usr/share/applications/rustdesk.desktop
    mkdir -p /usr/share/rustdesk/files/
    ln -fns "${upstream_dir}/usr/share/rustdesk/files/rustdesk.png" /usr/share/rustdesk/files/rustdesk.png
    ;;
    unconfigure)
    rm -f /usr/bin/rustdesk
    rm -f /usr/lib/rustdesk/rustdesk
    rm -f /usr/share/applications/rustdesk.desktop
    rm -f /usr/share/rustdesk/files/rustdesk.png
    rmdir /usr/share/rustdesk/files /usr/share/rustdesk /usr/lib/rustdesk
    ;;

    unpack)
    upstream_pack=$1
    upstream_dir=$2

    dpkg -x "$upstream_pack" "$upstream_dir"
    ;;
    *)
    ;;
esac
