#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
    configure)
        upstream_dir=$1

        ln -fns "$upstream_dir" /opt/next-exam-students
        ln -fns "${upstream_dir}/next-exam-student.png" /usr/share/icons/next-exam-student.png
        cat <<EOF > /usr/share/applications/next-exam-student.desktop
[Desktop Entry]
Name=Next-Exam Student
Exec=/opt/next-exam-student/Next-Exam-Student.AppImage
Type=Application
Terminal=false
Icon=next-exam-student
StartupNotify=true
Categories=Internet;
EOF
        ;;
    unconfigure)
        rm -f /opt/next-exam-student \
              /usr/share/applications/next-exam-student.desktop \
              /usr/share/icons/next-exam-student.png
        ;;
    unpack)
        upstream_pack=$1
        upstream_dir=$2

        cp "$upstream_pack" "${upstream_dir}/Next-Exam-Student.AppImage"
        chmod 755 "${upstream_dir}/Next-Exam-Student.AppImage"
        cp -p next-exam-student.png "$upstream_dir"
        ;;
    *)
        ;;
esac
