#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}" /opt/logicsim
    cat <<'EOF' > /usr/local/bin/logicsim
#!/bin/sh
set -eu

mkdir -p ~/Logicsim
rsync -a /opt/logicsim/ ~/Logicsim/
cd ~/Logicsim
java -jar LogicSim.jar

EOF
    chmod 755 /usr/local/bin/logicsim

    cat <<'EOF' > /usr/share/applications/logicsim3.desktop
[Desktop Entry]
Name=LogicSim3
Icon=/opt/logicsim/icon.png
GenericName=LogicSim
Path=/opt/logicsim
Exec=/usr/local/bin/logicsim
Terminal=true
StartupNotify=false
Type=Application
Categories=Education;
Keywords=logic;simulator;
EOF
    ;;
  unconfigure)
    rm -f /opt/logicsim /usr/local/bin/logicsim /usr/share/applications/logicsim.desktop
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    unzip   "$upstream_pack" -d "$upstream_dir"
    ;;
  *)
    ;;
esac
