#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
    configure)
	upstream_dir=$1

	ln -fns "${upstream_dir}/NumbersPro_linux" \
		/opt/db_numbers
        ln -fns "${upstream_dir}/NumbersPro_linux/NumbersPro_Data/Resources/UnityPlayer.png" \
                /usr/share/icons/dragonbox_numbers.png
        cat <<'EOF' > /usr/share/applications/db_numbers.desktop
[Desktop Entry]
Name=DragonBox Numbers
Exec=/opt/db_numbers/NumbersPro.x86_64
Type=Application
Terminal=false
Icon=dragonbox_numbers
StartupNotify=true
Categories=Education;
EOF
	;;
    unconfigure)
	rm -f /opt/db_numbers \
              /usr/share/applications/db_numbers.desktop \
              /usr/share/icons/dragonbox_numbers.png
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

        unzip -q -d "${upstream_dir}" "${upstream_pack}"
        chmod +x "${upstream_dir}/NumbersPro_linux/NumbersPro.x86_64"
	;;
    *)
	;;
esac
