#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
    configure)
	upstream_dir=$1

	ln -fns "${upstream_dir}/DB_Koulu_2_lin64" \
		/opt/DB-Koulu2
        ln -fns "${upstream_dir}/DB_Koulu_2_lin64/DB Koulu 2_Data/Resources/UnityPlayer.png" \
                /usr/share/icons/dragonbox_koulu2.png
        cat <<'EOF' > /usr/share/applications/db_koulu2.desktop
[Desktop Entry]
Name=DragonBox Koulu 2
Exec=/opt/DB-Koulu2/DB\ Koulu\ 2
Type=Application
Terminal=false
Icon=dragonbox_koulu2
StartupNotify=true
Categories=Education;
EOF
	;;
    unconfigure)
	rm -f /opt/DB-Koulu2 \
              /usr/share/applications/db_koulu2.desktop \
              /usr/share/icons/dragonbox_koulu2.png
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

        unzip -q -d "${upstream_dir}" "${upstream_pack}"
        chmod +x "${upstream_dir}/DB_Koulu_2_lin64/DB Koulu 2"
	;;
    *)
	;;
esac
