#!/bin/sh

set -eu

command=$1
shift

links='
  /opt/Airtame
  /usr/share/applications/airtame-application.desktop
  /usr/share/doc/airtame-application
  /usr/share/icons/hicolor/16x16/apps/airtame-application.png
  /usr/share/icons/hicolor/32x32/apps/airtame-application.png
  /usr/share/icons/hicolor/64x64/apps/airtame-application.png
  /usr/share/icons/hicolor/128x128/apps/airtame-application.png
  /usr/share/icons/hicolor/256x256/apps/airtame-application.png
  /usr/share/icons/hicolor/512x512/apps/airtame-application.png
  /usr/share/icons/hicolor/1024x1024/apps/airtame-application.png
'


case "${command}" in
    configure)
        upstream_dir=$1
        for f in $links; do
          mkdir -p "$(dirname "$f")"
          ln -fns -T "${upstream_dir}/${f}" "$f"
        done
        ;;
    unconfigure)
        rm -f $links
        ;;
    unpack)
        upstream_pack=$1
        upstream_dir=$2
        dpkg-deb -x "$upstream_pack" "$upstream_dir"
        ;;
    *)
        ;;
esac
