#!/bin/sh

set -eu

command=$1
shift

links='
/usr/bin/abicus
/usr/share/icons/hicolor/128x128/apps/abicus.png
/usr/share/icons/hicolor/256x256@2/apps/abicus.png
/usr/share/icons/hicolor/32x32/apps/abicus.png
/usr/share/applications/abicus.desktop'

case "${command}" in
    configure)
	if [ "$(lsb_release -cs)" = 'bullseye' ]; then
		echo 'This pkg is no longer supported on bullseye' >&2
		exit 1
	fi

	upstream_dir=$1
        for f in $links; do
          mkdir -p "$(dirname "$f")"
          ln -fns -T "${upstream_dir}/${f}" "$f"
        done
	;;
    unconfigure)
	rm -f $links
	;;
    unpack)
	upstream_pack=$1
	upstream_dir=$2

	dpkg -x "${upstream_pack}" "${upstream_dir}"
	;;
    *)
	;;
esac
