#!/bin/sh

set -eu

command=$1
shift

version=101.0
urlbase="https://download-installer.cdn.mozilla.net/pub/firefox/releases/${version}/linux-x86_64"

setup_firefox_wrapper() {
  cat <<'EOF' > /usr/local/bin/firefox
#!/bin/sh

set -eu

case "$LANG" in
  de_*) firefox_dir=/opt/firefox/de    ;;
  fi_*) firefox_dir=/opt/firefox/fi    ;;
  fr_*) firefox_dir=/opt/firefox/fr    ;;
  sv_*) firefox_dir=/opt/firefox/sv-SE ;;
  uk_*) firefox_dir=/opt/firefox/uk    ;;
  *)    firefox_dir=/opt/firefox/en-GB ;;
esac

# This is needed since Firefox 68, otherwise each language installation
# (and Firefox 68 from Mozilla binaries compared to old Firefox binaries
# from Ubuntu) will have their own profile (and users are missing bookmarks
# and such).
export MOZ_LEGACY_PROFILES=1

exec "${firefox_dir}/firefox" "$@"
EOF
  chmod 755 /usr/local/bin/firefox
}

case "${command}" in
  configure)
    upstream_dir=$1
cat <<'EOF' > /usr/share/applications/firefox.desktop.tmp
[Desktop Entry]
Name=Firefox
Comment=Web Browser
GenericName=Web Browser
X-GNOME-FullName=Firefox Web Browser
Exec=/usr/local/bin/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/firefox/en-GB/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
EOF
    mv /usr/share/applications/firefox.desktop.tmp \
       /usr/share/applications/firefox.desktop

    ln -fns "$upstream_dir" /opt/firefox

    setup_firefox_wrapper

    update-alternatives --install /usr/bin/x-www-browser x-www-browser \
                        /usr/local/bin/firefox 200
    update-alternatives --set x-www-browser /usr/local/bin/firefox
    ;;

  unconfigure)
    update-alternatives --remove x-www-browser /usr/local/bin/firefox
    rm -f /opt/firefox \
          /usr/local/bin/firefox \
          /usr/share/applications/firefox.desktop
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2

    tar --no-same-owner -jx -f "$upstream_pack" -C "$upstream_dir"
    ;;

  download)
    upstream_pack=$(readlink -f "$1")
    tmpdir=
    trap '[ -n "$tmpdir" ] && rm -rf "$tmpdir"' 0 INT TERM
    tmpdir=$(mktemp -d)

    (
      cd "$tmpdir"
      while read sha384 tarpath; do
        tarfile=$(basename "$tarpath")
        wget \
            --no-use-server-timestamps \
            --no-cookies \
            --output-document "$tarfile" \
            --progress=dot:mega \
            "${urlbase}/${tarpath}" || {
            [ $? -eq 4 ] && exit 2 ## Network failure.
            exit 1
        }
        if ! echo "${sha384} ${tarfile}" | sha384sum --check >/dev/null; then
          actual_checksum=$(sha384sum "$tarfile" | awk '{ print $1 }')
          echo "checksum NOT matching for $tarpath" >&2
          echo "expected: ${sha384} / actual: ${actual_checksum}" >&2
          exit 1
        fi
        firefox_langdir="firefox/$(dirname "$tarpath")"
        mkdir -p "$firefox_langdir"
        tar -C "$firefox_langdir" --strip-components=1 -jx -f "$tarfile" \
          || exit 1
        ln -fns /etc/firefox/distribution "${firefox_langdir}/distribution"
        ln -fns /etc/firefox/syspref.js \
                "${firefox_langdir}/defaults/pref/syspref.js"
        cat <<'FF_PUAVO_JS_EOF' > "${firefox_langdir}/firefox-puavodesktop.js"
// 

lockPref("autoadmin.global_config_url", "file:///etc/firefox/puavodesktop.js");
FF_PUAVO_JS_EOF
      done <<EOF
5297db6465c68dd4e81daaa98856a8e1923a257ce0a7689b5e69f1ce830b42e9994cdc78a989e8e5879286769919350d de/firefox-${version}.tar.bz2
cbfca7dbe84fd02dd83ea75b3ec96a26b0fd90443b457688ab9e478779d7b3f5a7e04470449ad7def5b6f021adb6e3b7 en-GB/firefox-${version}.tar.bz2
75addef17a5f045336119e8749b88f7976bf2059cf081eb2bd7fb1c2b849533fa59dff6513bfec7696f115a259d8b7fb fi/firefox-${version}.tar.bz2
367d1e70c277910a35c7c93761d836bd5baa95476abe7448af4ee61b7bc5be3c5bbeaa645961f62650ab4118984f006d fr/firefox-${version}.tar.bz2
a288ca381609b8d1cfbe4a3c54fbf3c79dc4ede3784fc2731fa9ef7b13d2e83cae019e0af4649d38a7d40f5bb82bd127 sv-SE/firefox-${version}.tar.bz2
b19c52b4e513449d4ff5c42ccf37104ec486fc45418d940c34aecfc738048ae269393548695ba74d4003642d4c735676 uk/firefox-${version}.tar.bz2
EOF

      # hard link many duplicate files
      rdfind -makehardlinks true firefox/*

      # Set LC_COLLATE=C so that files always sort in the same
      # way (so we get the same tar-archive independent of locales).
      env LC_COLLATE=C \
        tar -C firefox -j --mtime='2000-01-01 00:00:00 +00:00' --sort=name -c \
          -f "$upstream_pack" .
    )
    ;;
  *)
    ;;
esac
