#!/bin/sh

set -eu

command=$1
shift

version=98.0.2
urlbase="https://download-installer.cdn.mozilla.net/pub/firefox/releases/${version}/linux-x86_64"

setup_firefox_wrapper() {
  cat <<'EOF' > /usr/local/bin/firefox
#!/bin/sh

set -eu

case "$LANG" in
  de_*) firefox_dir=/opt/firefox/de    ;;
  fi_*) firefox_dir=/opt/firefox/fi    ;;
  fr_*) firefox_dir=/opt/firefox/fr    ;;
  sv_*) firefox_dir=/opt/firefox/sv-SE ;;
  *)    firefox_dir=/opt/firefox/en-GB ;;
esac

# This is needed since Firefox 68, otherwise each language installation
# (and Firefox 68 from Mozilla binaries compared to old Firefox binaries
# from Ubuntu) will have their own profile (and users are missing bookmarks
# and such).
export MOZ_LEGACY_PROFILES=1

exec "${firefox_dir}/firefox" "$@"
EOF
  chmod 755 /usr/local/bin/firefox
}

case "${command}" in
  configure)
    upstream_dir=$1
cat <<'EOF' > /usr/share/applications/firefox.desktop.tmp
[Desktop Entry]
Name=Firefox
Comment=Web Browser
GenericName=Web Browser
X-GNOME-FullName=Firefox Web Browser
Exec=/usr/local/bin/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/firefox/en-GB/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
EOF
    mv /usr/share/applications/firefox.desktop.tmp \
       /usr/share/applications/firefox.desktop

    ln -fns "$upstream_dir" /opt/firefox

    setup_firefox_wrapper

    update-alternatives --install /usr/bin/x-www-browser x-www-browser \
                        /usr/local/bin/firefox 200
    update-alternatives --set x-www-browser /usr/local/bin/firefox
    ;;

  unconfigure)
    update-alternatives --remove x-www-browser /usr/local/bin/firefox
    rm -f /opt/firefox \
          /usr/local/bin/firefox \
          /usr/share/applications/firefox.desktop
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2

    tar --no-same-owner -jx -f "$upstream_pack" -C "$upstream_dir"
    ;;

  download)
    upstream_pack=$(readlink -f "$1")
    tmpdir=
    trap '[ -n "$tmpdir" ] && rm -rf "$tmpdir"' 0 INT TERM
    tmpdir=$(mktemp -d)

    (
      cd "$tmpdir"
      while read sha384 tarpath; do
        tarfile=$(basename "$tarpath")
        wget \
            --no-use-server-timestamps \
            --no-cookies \
            --output-document "$tarfile" \
            --progress=dot:mega \
            "${urlbase}/${tarpath}" || {
            [ $? -eq 4 ] && exit 2 ## Network failure.
            exit 1
        }
        if ! echo "${sha384} ${tarfile}" | sha384sum --check >/dev/null; then
          actual_checksum=$(sha384sum "$tarfile" | awk '{ print $1 }')
          echo "checksum NOT matching for $tarpath" >&2
          echo "expected: ${sha384} / actual: ${actual_checksum}" >&2
          exit 1
        fi
        firefox_langdir="firefox/$(dirname "$tarpath")"
        mkdir -p "$firefox_langdir"
        tar -C "$firefox_langdir" --strip-components=1 -jx -f "$tarfile" \
          || exit 1
        ln -fns /etc/firefox/distribution "${firefox_langdir}/distribution"
        ln -fns /etc/firefox/syspref.js \
                "${firefox_langdir}/defaults/pref/syspref.js"
        cat <<'FF_PUAVO_JS_EOF' > "${firefox_langdir}/firefox-puavodesktop.js"
// 

lockPref("autoadmin.global_config_url", "file:///etc/firefox/puavodesktop.js");
FF_PUAVO_JS_EOF
      done <<EOF
99a9ab23191a3b780a7617897acd11ccabb03c7df7132c5f45fedc8677b9832c7c755f1378a4809a2aec95463593967a de/firefox-${version}.tar.bz2
4037e4bfb9c20011f566cf4e30fc0b9009b79713e2ca4bc7cbeda45e7c9b2d3487b5aeb5256ac664711121161574e73a en-GB/firefox-${version}.tar.bz2
ebf9caaaadf40d927490b737de8358e755f8c569fd9400770e3877db5161f99da09fb74a9a0a0baf432aa329b22a2aa9 fi/firefox-${version}.tar.bz2
3fe87c97746ce66e363661db76c312e4af745977c720497d0541693dc649f752d14b4ce5391ca03d598166b53889cb98 fr/firefox-${version}.tar.bz2
33073ff836e64f6a4b4bcd8c31cec5678a47b28e0bee670c2bce31e21f4f7ecfdc1da121d18c651de0162cd543cc8898 sv-SE/firefox-${version}.tar.bz2
EOF

      # hard link many duplicate files
      rdfind -makehardlinks true firefox/*

      # Set LC_COLLATE=C so that files always sort in the same
      # way (so we get the same tar-archive independent of locales).
      env LC_COLLATE=C \
        tar -C firefox -j --mtime='2000-01-01 00:00:00 +00:00' --sort=name -c \
          -f "$upstream_pack" .
    )
    ;;
  *)
    ;;
esac
