#!/bin/sh

set -eu

command=$1
shift

links='
  /opt/drawio
  /usr/share/doc/draw.io
  /usr/share/icons/hicolor/1024x1024/apps/drawio.png
  /usr/share/icons/hicolor/128x128/apps/drawio.png
  /usr/share/icons/hicolor/16x16/apps/drawio.png
  /usr/share/icons/hicolor/192x192/apps/drawio.png
  /usr/share/icons/hicolor/256x256/apps/drawio.png
  /usr/share/icons/hicolor/32x32/apps/drawio.png
  /usr/share/icons/hicolor/48x48/apps/drawio.png
  /usr/share/icons/hicolor/512x512/apps/drawio.png
  /usr/share/icons/hicolor/64x64/apps/drawio.png
  /usr/share/icons/hicolor/720x720/apps/drawio.png
  /usr/share/icons/hicolor/96x96/apps/drawio.png
  /usr/share/mime/packages/drawio.xml
'

case "${command}" in
    configure)
        upstream_dir=$1
        for f in $links; do
          mkdir -p "$(dirname "$f")"
          ln -fns -T "${upstream_dir}${f}" "$f"
        done
        ln -fns -T "/opt/drawio/drawio" "/usr/bin/drawio"

        sed '/^Exec=/s|/opt/drawio/drawio %U$|/opt/drawio/drawio --disable-update %U|' \
          "${upstream_dir}/usr/share/applications/drawio.desktop" \
          > /usr/share/applications/drawio.desktop.tmp
        mv /usr/share/applications/drawio.desktop.tmp /usr/share/applications/drawio.desktop
        ;;
    unconfigure)
        rm -f $links /usr/share/applications/drawio.desktop
        ;;
    unpack)
        upstream_pack=$1
        upstream_dir=$2
        dpkg-deb -x "$upstream_pack" "$upstream_dir"
        ;;
    *)
        ;;
esac
