#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}/balena-etcher.AppImage" /usr/local/bin/balena-etcher.AppImage
    ln -fns "${upstream_dir}/balena-etcher.png" /usr/share/icons/balena-etcher.png

    cat <<'EOF' > /usr/share/applications/balena-etcher.desktop
[Desktop Entry]
Name=balenaEtcher
Exec=balena-etcher.AppImage
Terminal=false
Type=Application
Icon=balena-etcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
MimeType=x-scheme-handler/etcher;
Categories=Utility;
EOF
    ;;
  unconfigure)
    rm -f /usr/local/bin/balena-etcher.AppImage \
          /usr/share/applications/balena-etcher.desktop \
          /usr/share/icons/balena-etcher.png
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    install -m 755 "$upstream_pack" "${upstream_dir}/balena-etcher.AppImage"
    install -m 644 balena-etcher.png "${upstream_dir}/balena-etcher.png"
    ;;
  *)
    ;;
esac
