#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1
    ln -fns "$upstream_dir" /opt/celestia
    ln -fns "${upstream_dir}/celestia.png" /usr/share/icons/celestia.png
    cat <<EOF > /usr/local/share/applications/celestia.desktop
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/opt/celestia/celestia.AppImage
Icon=celestia
X-GNOME-DocPath=
Terminal=false
Name=Celestia
GenericName=Space Simulator
Comment=Explore the Universe in this detailed space simulation
StartupNotify=true
Categories=Astronomy;Education;Application;
EOF
    ;;

  unconfigure)
    rm -f /opt/celestia \
          /usr/local/share/applications/celestia.desktop \
          /usr/share/icons/celestia.png
    ;;

  unpack)
    upstream_pack=$1
    upstream_dir=$2
    cp "$upstream_pack" "${upstream_dir}/celestia.AppImage"
    chmod 755 "${upstream_dir}/celestia.AppImage"
    cp celestia.png "$upstream_dir"
    ;;
esac
