#!/bin/sh

set -eu

command=$1
shift

case "$command" in
  configure)
    upstream_dir=$1

    ln -fns "$upstream_dir" /opt/geogebra
    cat <<'EOF' > /usr/bin/geogebra
#!/bin/sh

# Fix 3d view startup on devices where default GL version is too new.
# (may not be needed anymore)
exec env MESA_GL_VERSION_OVERRIDE=2.0 /opt/geogebra/geogebra-portable "$@"
EOF
    chmod 755 /usr/bin/geogebra

    cat <<'EOF' > /usr/local/share/applications/geogebra.desktop
#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GeoGebra
GenericName=Dynamic mathematics software
GenericName[cs]=Dynamický matematický software
GenericName[de]=Dynamische Mathematiksoftware
GenericName[el]=Λογισμικό δυναμικών μαθηματικών
GenericName[es]=Programa de matemáticas dinámico
GenericName[fr]=Logiciel de Mathématiques dynamiques
GenericName[hi]=सक्रिय गणितीय सॉफ्टवेर
GenericName[hu]=Dinamikus matematikai szoftver
GenericName[it]=Software di matematica dinamica
GenericName[pt_BR]=Programa de Matemática Dinâmica
Comment=Create interactive mathematical constructions and applets. 
Comment[cs]=Vytvořte interaktivní konstrukce a aplety.
Comment[de]=Erstellen Sie interaktive Konstruktionen und Applets.
Comment[el]=Δημιουργήστε αλληπειδραστικές μαθηματικές κατασκευές και applet.
Comment[fr]=Créer des constructions mathématiques et des appliquettes.
Comment[hi]=संवादात्मक गणितीय निर्माण और एप्लेट बनाएँ
Comment[hu]=Interaktív matematikai szerkesztések és appletek létrehozása.
Comment[it]=Creazione di costruzioni matematiche e applet interattive.
Comment[pt_BR]=Crie construções matemáticas interativas e applets.
TryExec=geogebra
Exec=geogebra %F
Icon=geogebra
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=geogebra-GeoGebra
Categories=Education;Math;
MimeType=application/vnd.geogebra.file;application/vnd.geogebra.tool;
EOF
    ln -fns "${upstream_dir}/geogebra.png" /usr/share/pixmaps/geogebra.png
    ;;
  unconfigure)
    rm -f /opt/geogebra \
          /usr/bin/geogebra \
          /usr/local/share/applications/geogebra.desktop \
          /usr/share/pixmaps/geogebra.png
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    tar -C "$upstream_dir" --strip-components=1 -jx -f "$upstream_pack"
    cp -p geogebra.png "${upstream_dir}/geogebra.png"
    ;;
  *)
    ;;
esac
