#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}" /opt/wine/eshare
    ln -fns "${upstream_dir}/eshare.ico" /usr/share/icons/eshare.ico
    cat <<'EOF' > /usr/local/bin/eshare
#!/bin/sh

set -eu

WINEPREFIX=~/.wineprefix-eshare
export WINEPREFIX
if [ ! -f "${WINEPREFIX}/drive_c/users/$(whoami)/AppData/Local/EShareClient/EShare.ini" ]; then
  mkdir -p "${WINEPREFIX}/drive_c/users/$(whoami)/AppData/Local/EShareClient/"
  echo -e "[General]\nclient_name=$(hostname)" > ${WINEPREFIX}/drive_c/users/$(whoami)/AppData/Local/EShareClient/EShare.ini
fi
wine /opt/wine/eshare/EShare.exe
EOF
    chmod 755 /usr/local/bin/eshare

    cat <<'EOF' > /usr/share/applications/eshare.desktop
[Desktop Entry]
Name=EShare
Comment=EShare
Exec=/usr/local/bin/eshare
Terminal=false
Type=Application
Icon=/usr/share/icons/eshare.ico
EOF
    ;;
  unconfigure)
    rm -f /opt/wine/eshare \
          /usr/local/bin/eshare \
          /usr/share/applications/eshare.desktop \
          /usr/share/icons/eshare.ico
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    7z x "$upstream_pack" disk1.cab -o"$upstream_dir"
    cd "$upstream_dir"
    cabextract disk1.cab
    wrestool -x -t 14 EShare.exe > eshare.ico
    ;;
  *)
    ;;
esac
