#!/bin/sh

set -eu

command=$1
shift

case "${command}" in
  configure)
    upstream_dir=$1
    ln -fns "${upstream_dir}/opt/EShare" /opt/EShare

    # Link and rename the desktop file to be compatible with older puavo-os
    # image versions.
    ln -fns "${upstream_dir}/opt/EShare/EShare.desktop" \
            /usr/share/applications/eshare.desktop
    ln -fns "${upstream_dir}/opt/EShare/org.gnome.audio-recorder.gschema.xml" \
            /usr/share/glib-2.0/schemas/org.gnome.audio-recorder.gschema.xml
    glib-compile-schemas /usr/share/glib-2.0/schemas
    ;;
  unconfigure)
    rm -f /opt/EShare                            \
          /usr/share/applications/eshare.desktop \
          /usr/share/glib-2.0/schemas/org.gnome.audio-recorder.gschema.xml
    ;;
  unpack)
    upstream_pack=$1
    upstream_dir=$2
    dpkg-deb -x "$upstream_pack" "$upstream_dir"
    ;;
  *)
    ;;
esac
